Buchi/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Buchi"
		},
		"AzureBlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
		},
		"BuchiAzureSqlDataBase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BuchiAzureSqlDataBase'"
		},
		"DynamicsCRMCFT130_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DynamicsCRMCFT130'"
		},
		"OnPremSQLServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OnPremSQLServer'"
		},
		"DynamicsCRMCFT130_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "crmadmin@cft130.onmicrosoft.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlob_to_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQLAccounts_to_AzureBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OnPremAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQLAccounts_to_AzureBlob1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SQLAccounts_to_AzureBlob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "OnPremAccount1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob_to_AzureSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SQLAccounts_to_AzureBlob1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Blob_to_AzureSQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "AzureSQL_to_CRM_CopyActivity",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Blob_to_AzureSQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DynamicsSink",
								"writeBatchSize": 10,
								"writeBehavior": "upsert",
								"ignoreNullValues": false,
								"alternateKeyName": "msdynce_accountnumber"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountId",
											"type": "Int32"
										},
										"sink": {
											"name": "accountnumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "address1_country",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address1",
											"type": "String"
										},
										"sink": {
											"name": "address1_line1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "address1_city",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address3",
											"type": "String"
										},
										"sink": {
											"name": "address1_line3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal"
										},
										"sink": {
											"name": "creditlimit",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "Address2",
											"type": "String"
										},
										"sink": {
											"name": "address1_line2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNo",
											"type": "String"
										},
										"sink": {
											"name": "telephone1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmailId",
											"type": "String"
										},
										"sink": {
											"name": "emailaddress1",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSql_dst_Account",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CFT130Accounts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPremAccount')]",
				"[concat(variables('factoryId'), '/datasets/Blob_CSVDatast')]",
				"[concat(variables('factoryId'), '/datasets/OnPremAccount1')]",
				"[concat(variables('factoryId'), '/dataflows/Blob_to_AzureSQL')]",
				"[concat(variables('factoryId'), '/datasets/AzureSql_dst_Account')]",
				"[concat(variables('factoryId'), '/datasets/CFT130Accounts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AccountData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SQLServerAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Account Contact",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SqlServerContact",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLServerAccount')]",
				"[concat(variables('factoryId'), '/datasets/Blob_CSVDatast')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerContact')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSql_dst_Account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuchiAzureSqlDataBase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "Nationality",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "Address1",
						"type": "varchar"
					},
					{
						"name": "Address2",
						"type": "varchar"
					},
					{
						"name": "Address3",
						"type": "varchar"
					},
					{
						"name": "PhoneNo",
						"type": "varchar"
					},
					{
						"name": "EmailId",
						"type": "varchar"
					},
					{
						"name": "CreditLimit",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CreditType",
						"type": "varchar"
					},
					{
						"name": "DuePeriod",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Active",
						"type": "bit"
					},
					{
						"name": "EnableMultipleCurrency",
						"type": "bit"
					},
					{
						"name": "Segment",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EnableSpecialPrice",
						"type": "bit"
					},
					{
						"name": "SpecialPriceType",
						"type": "varchar"
					},
					{
						"name": "SpecialDiscountPercent",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Ported",
						"type": "bit"
					},
					{
						"name": "GSTTIN",
						"type": "varchar"
					},
					{
						"name": "Outstanding",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "PaymentTerms",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account_DST"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BuchiAzureSqlDataBase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_CSVDatast')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "testcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_JsonDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "testcontainer"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BuchiAzureSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BuchiAzureSqlDataBase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BuchiAzureSqlDataBase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CFT130Accounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DynamicsCRMCFT130",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DynamicsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DynamicsCRMCFT130')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Data_XMLFormat",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremAccount1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Data_XMLFormat",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLServerAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "Name",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "Nationality",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "Address1",
						"type": "varchar"
					},
					{
						"name": "Address2",
						"type": "varchar"
					},
					{
						"name": "Address3",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AC"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerContact')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSQLServer",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AccountId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PhoneNo",
						"type": "varchar"
					},
					{
						"name": "EmailId",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AC_con"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OnPremSQLServer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BuchiAzureSqlDataBase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BuchiAzureSqlDataBase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicsCRMCFT130')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Dynamics",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://cft130.api.crm.dynamics.com/api/data/v9.1/",
					"authenticationType": "Office365",
					"username": "[parameters('DynamicsCRMCFT130_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DynamicsCRMCFT130_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremSQLServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('OnPremSQLServer_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Blob_to_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "Blob_CSVDatast",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSql_dst_Account",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						}
					],
					"script": "source(output(\n\t\tAccountId as short,\n\t\tCode as string,\n\t\tName as string,\n\t\tCountry as string,\n\t\tCity as string,\n\t\tNationality as string,\n\t\tCurrency as string,\n\t\tAddress1 as string,\n\t\tAddress2 as string,\n\t\tAddress3 as string,\n\t\tPhoneNo as long,\n\t\tEmailId as string,\n\t\tCreditLimit as double,\n\t\tCreditType as string,\n\t\tDuePeriod as boolean,\n\t\tActive as boolean,\n\t\tEnableMultipleCurrency as boolean,\n\t\tSegment as string,\n\t\tEnableSpecialPrice as string,\n\t\tSpecialPriceType as string,\n\t\tSpecialDiscountPercent as string,\n\t\tPorted as boolean,\n\t\tGSTTIN as string,\n\t\tOutstanding as string,\n\t\tPaymentTerms as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\twildcardPaths:['dbo.Account.csv']) ~> source1\nsource(output(\n\t\tAccountId as short,\n\t\tCode as string,\n\t\tName as string,\n\t\tCountry as string,\n\t\tCity as string,\n\t\tNationality as string,\n\t\tCurrency as string,\n\t\tAddress1 as string,\n\t\tAddress2 as string,\n\t\tAddress3 as string,\n\t\tPhoneNo as string,\n\t\tEmailId as string,\n\t\tCreditLimit as double,\n\t\tCreditType as string,\n\t\tDuePeriod as short,\n\t\tActive as boolean,\n\t\tEnableMultipleCurrency as boolean,\n\t\tSegment as string,\n\t\tEnableSpecialPrice as string,\n\t\tSpecialPriceType as string,\n\t\tSpecialDiscountPercent as string,\n\t\tPorted as boolean,\n\t\tGSTTIN as string,\n\t\tOutstanding as double,\n\t\tPaymentTerms as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\twildcardPaths:['dbo.Account1.csv']) ~> source2\nsource1, source2 join(source1@AccountId == source2@AccountId,\n\tjoinType:'left',\n\tbroadcast: 'none')~> Join1\nJoin1 sink(input(\n\t\tAccountId as integer,\n\t\tCode as string,\n\t\tName as string,\n\t\tCountry as string,\n\t\tCity as string,\n\t\tNationality as string,\n\t\tCurrency as string,\n\t\tAddress1 as string,\n\t\tAddress2 as string,\n\t\tAddress3 as string,\n\t\tPhoneNo as string,\n\t\tEmailId as string,\n\t\tCreditLimit as decimal(18,2),\n\t\tCreditType as string,\n\t\tDuePeriod as integer,\n\t\tActive as boolean,\n\t\tEnableMultipleCurrency as boolean,\n\t\tSegment as integer,\n\t\tEnableSpecialPrice as boolean,\n\t\tSpecialPriceType as string,\n\t\tSpecialDiscountPercent as decimal(18,2),\n\t\tPorted as boolean,\n\t\tGSTTIN as string,\n\t\tOutstanding as decimal(18,2),\n\t\tPaymentTerms as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tAccountId = source1@AccountId,\n\t\tCode = source1@Code,\n\t\tName = source1@Name,\n\t\tCountry = source1@Country,\n\t\tCity = source1@City,\n\t\tNationality = source1@Nationality,\n\t\tCurrency = source1@Currency,\n\t\tAddress1 = source1@Address1,\n\t\tAddress2 = source1@Address2,\n\t\tAddress3 = source1@Address3,\n\t\tPhoneNo = source2@PhoneNo,\n\t\tEmailId = source1@EmailId,\n\t\tCreditLimit = source2@CreditLimit,\n\t\tCreditType = source2@CreditType,\n\t\tDuePeriod = source1@DuePeriod,\n\t\tActive = source1@Active,\n\t\tEnableMultipleCurrency = source1@EnableMultipleCurrency,\n\t\tSegment = source2@Segment,\n\t\tEnableSpecialPrice = source2@EnableSpecialPrice,\n\t\tSpecialPriceType = source2@SpecialPriceType,\n\t\tSpecialDiscountPercent = source2@SpecialDiscountPercent,\n\t\tPorted = source2@Ported,\n\t\tGSTTIN = source2@GSTTIN,\n\t\tOutstanding = source2@Outstanding,\n\t\tPaymentTerms = source2@PaymentTerms\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Blob_CSVDatast')]",
				"[concat(variables('factoryId'), '/datasets/AzureSql_dst_Account')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Blob_JsonDataset",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "Blob_JsonDataset",
								"type": "DatasetReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BuchiAzureSqlTable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Union1"
						}
					],
					"script": "source(output(\n\t\tData_XMLFormat as string,\n\t\tID as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn: 'FileName',\n\tunquotedColumnNames: true,\n\twildcardPaths:['*.json']) ~> source1\nsource(output(\n\t\tData_XMLFormat as string,\n\t\tID as boolean\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\twildcardPaths:['*json']) ~> source2\nsource1 union(byName: true)~> Union1\nUnion1 sink(input(\n\t\tAccountNumber as integer,\n\t\tname as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tAccountNumber = ID,\n\t\tname = Data_XMLFormat\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Blob_JsonDataset')]",
				"[concat(variables('factoryId'), '/datasets/BuchiAzureSqlTable')]"
			]
		}
	]
}